<div class="al-channel-name" data-xml-property="ControlForeground">Channel</div>
<div class="al-channel-clips">
    <div class="al-clip-cell" data-xml-property="ClipSlotButton">
        <div class="al-clip-instance" data-xml-property="BackgroundClip">
            <div class="al-clip-transport" data-xml-property="ControlOnForeground">
                <i class="fas fa-play al-clip-playbutton" data-xml-property="ChosenPlay"></i>
            </div>
            <div class="al-clip-name" data-xml-property="ClipText">Clip 1</div>
        </div>
    </div>
    <div class="al-clip-cell" data-xml-property="ClipSlotButton"></div>
    <div class="al-clip-cell" data-xml-property="ClipSlotButton"></div>
    <div class="al-clip-cell" data-xml-property="ClipSlotButton"></div>
    <div class="al-clip-cell" data-xml-property="ClipSlotButton"></div>
</div>
<div class="al-channel-empty-space" data-xml-property="SurfaceArea">
</div>
<div class="al-channel-stop-controls" data-xml-property="ControlBackground">
    <div class="al-clip-transport" data-xml-property="ControlOnForeground">
        <i class="fas fa-stop al-clip-stopbutton" data-xml-property="ChosenDefault"></i>
    </div>
</div>
<div class="al-channel-sends" data-xml-property="SurfaceArea">
    <div class="cp">
        <canvas class="nob al-knob-send" data-value="0" data-xml-property="Poti"></canvas>
        <canvas class="nob al-knob-send nob-sub" data-value="81" data-xml-property="Poti"></canvas>
    </div>
</div>
<div class="al-channel-mixer" data-xml-property="SurfaceArea">
    <div class="al-mixer-left-container">
        <div class="al-channel-peak-indicator" data-xml-property="ControlForeground">-inf</div>
        <div class="al-channel-volume-input" data-xml-property="ControlBackground">
            <input type="number" value="0" data-xml-property="ControlForeground" />
        </div>
        <div class="cp">
            <canvas class="nob al-knob-pan" data-value="0" data-xml-property="Poti"></canvas>
        </div>
        <div class="al-channel-mute-control al-control-on" data-xml-property="ControlOnForeground">1</div>
        <div class="al-channel-solo-control" data-xml-property="ChosenDefault">S</div>
        <div class="al-channel-arm-control" data-xml-property="ChosenRecord">
            <i class="fas fa-circle"></i>
        </div>
    </div>
    <div class="al-mixer-right-container">
        <div class="al-mixer-volume-meter-container" data-xml-property="MeterBackground">
            <div class="al-mixer-volume-meter-left" data-xml-property="MeterBackground"></div>
            <div class="al-mixer-volume-meter-right" data-xml-property="MeterBackground"></div>
        </div>
        <div class="al-mixer-gain-control" data-xml-property="Poti">
            <div data-xml-property="PotiNeedle">
                <!-- just the inner color of the triangle -->
            </div>
        </div>
    </div>

</div>